@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    bool ageMatch = 10 < 20;
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.ownerName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@DateTime.Now</p>
    <h1>@Model.CurrentDateTime</h1>
    <input type="checkbox" checked="@ageMatch" name="Age Matched" />
</div>
